RewriteBase /minecraft/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-s
#RewriteRule ^(\w+)/[^\.]*$ $1 [R=301,L]
RewriteRule ^(\w+[^/\.]*)$ index.php?p=$1