{% extends 'layout.html.twig' %}

{% set title = 'Contact details' %}

{% block content %}
    <h1>Contact details</h1>
    <p>
        The main way to get help and stay in touch with the other players is through our Discord server.
        You can join it using the following link: <a href="https://discord.gg/SJEAGnW">https://discord.gg/SJEAGnW</a>.
        Come and say hi! =)
    </p>
    <p>
        If you need me (Villermen) specifically for a question or problem you can send me DM on Discord or, if you don't have Discord, <a href="mailto:villermen@gmail.com">send me an e-mail</a>.
    </p>
{% endblock %}
