{% extends 'layout.html.twig' %}

{% set title = 'Donating' %}

{% block content %}
    <h1>Donating</h1>
    <p>
        Y'all love this server right? =S
        If you do, please consider donating.
        It will help me cover the cost to run the server, and in return gives you some extra features (listed below).
        If you donate an amount of $5.00 or more, you will get a donator (green) rank in-game.
        The donator rank will last forever, but feel free to donate more =)
    </p>
    <p>
        Please supply your Minecraft username when donating (I need to know who to promote).
        If you're able to, please wire transfer the money over to me (ask me for details on Discord).
        It saves me some trouble and PayPal won't take a generous cut out of the amount.
        Ohterwise you can use <a href="https://paypal.me/villermenmc">paypal.me/villermenmc</a> to donate.
    </p>

    <h2>Donator features</h2>
    <p>
        As a thank you for your support, you will be rewarded some additional features on the server.
        Besides getting a shiny green name, donators get the following extra's:
    </p>
    <ul>
        <li>Pretty much full access to WorldEdit (scroll down for tutorial).</li>
        <li>Build access in flatland, where nobody griefs =)</li>
        <li>Use color in chat using color-codes (&amp;1-&amp;f)</li>
        <li>Make signs that, when right-clicked, teleport you to a warp (scroll down for tutorial).</li>
        <li>Obtain the power of the mighty <code>/kittycannon</code>.</li>
        <li>Teleport around using an arrow (left-click for teleport, right-click to go through walls (or <code>/jumpto</code> & <code>/thru</code>)</li>
        <li>Set or change the title shown before your name.</li>
    </ul>
    <p>
        Oh, did I mention that you get a gold colored name if you donate over 15 dollar?
        Yeah, that's a thing now.
    </p>

    <h2>List of donators</h2>
    <p>
        I would like to thank all current donators for their support, they are what's keeping the server running:
    </p>
    <div class="center">
        <table style="display:inline-table; vertical-align:top;">
            <tr><td>Rizee</td><td>$67.50</td></tr>
            <tr><td>Onmate</td><td>$60.50</td></tr>
            <tr><td>CubicCreations</td><td>$30.00</td></tr>
            <tr><td>Jasmine2000</td><td>$30.00</td></tr>
            <tr><td>apexminer_</td><td>$28.00</td></tr>
            <tr><td>robonomad</td><td>$28.00</td></tr>
            <tr><td>Nubungee</td><td>$23.00</td></tr>
            <tr><td>Sen66</td><td>$20.15</td></tr>
            <tr><td>okden</td><td>$20.00</td></tr>
            <tr><td>Flaming_Robot</td><td>$20.00</td></tr>
            <tr><td>xHybridMiner</td><td>$20.00</td></tr>
            <tr><td>Danton47</td><td>$17.50</td></tr>
            <tr><td>Sckorponok1</td><td>$16.00</td></tr>
            <tr><td>ApexMinerFTW</td><td>$15.25</td></tr>
            <tr><td>Readluke</td><td>$15.00</td></tr>
            <tr><td>Jhenni</td><td>$15.00</td></tr>
            <tr><td>AaronKing21</td><td>$15.00</td></tr>
            <tr><td>GeNeTiCShaDoW</td><td>$15.00</td></tr>
            <tr><td>notsewz123</td><td>$15.00</td></tr>
            <tr><td>Alexzander40</td><td>$15.00</td></tr>
            <tr><td>mothesnail</td><td>$15.00</td></tr>
            <tr><td>fossie2000</td><td>$15.00</td></tr>
            <tr><td>MLPBrandonH</td><td>$15.00</td></tr>
            <tr><td>Exij</td><td>$15.00</td></tr>
            <tr><td>Krojo</td><td>$15.00</td></tr>
            <tr><td>Crabchicken</td><td>$14.00</td></tr>
            <tr><td>rainbowlazer</td><td>$12.00</td></tr>
            <tr><td>hunter00670</td><td>$11.10</td></tr>
            <tr><td>DonDLow</td><td>$10.00</td></tr>
            <tr><td>ceduna_kids</td><td>$10.00</td></tr>
            <tr><td>Scotmai</td><td>$10.00</td></tr>
            <tr><td>Revan5159</td><td>$10.00</td></tr>
            <tr><td>DukeAnderson</td><td>$10.00</td></tr>
            <tr><td>citizen_zane</td><td>$10.00</td></tr>
            <tr><td>Grant228</td><td>$10.00</td></tr>
            <tr><td>ironhorse743912</td><td>$10.00</td></tr>
            <tr><td>koolboy2001</td><td>$10.00</td></tr>
            <tr><td>xBLOODxBROTHERx2</td><td>$10.00</td></tr>
        </table>
        <table style="display:inline-table; vertical-align:top;">
            <tr><td>camww</td><td>$10.00</td></tr>
            <tr><td>chilapox</td><td>$10.00</td></tr>
            <tr><td>moschiemonster</td><td>$10.00</td></tr>
            <tr><td>Cosmic_love</td><td>$10.00</td></tr>
            <tr><td>saviosaltamontes</td><td>$10.00</td></tr>
            <tr><td>Sniicker__Z</td><td>$10.00</td></tr>
            <tr><td>Mr_illicit6266</td><td>$10.00</td></tr>
            <tr><td>Breckin37</td><td>$9.50</td></tr>
            <tr><td>Arkamedis</td><td>$9.00</td></tr>
            <tr><td>zombot50</td><td>$9.00</td></tr>
            <tr><td>cRiMe2010</td><td>$8.00</td></tr>
            <tr><td>lolipop132</td><td>$8.00</td></tr>
            <tr><td>killer11275</td><td>$8.00</td></tr>
            <tr><td>EliasRoss</td><td>$8.00</td></tr>
            <tr><td>zikky2</td><td>$8.00</td></tr>
            <tr><td>Violet_Q</td><td>$8.00</td></tr>
            <tr><td>bigsmile9</td><td>$8.00</td></tr>
            <tr><td>Ollie____</td><td>$8.00</td></tr>
            <tr><td>D_miner_888</td><td>$8.00</td></tr>
            <tr><td>Smitty2019</td><td>$8.00</td></tr>
            <tr><td>RYAN0916</td><td>$8.00</td></tr>
            <tr><td>ScottfaceGamer</td><td>$8.00</td></tr>
            <tr><td>christiangg17</td><td>$8.00</td></tr>
            <tr><td>Alien_4ce</td><td>$8.00</td></tr>
            <tr><td>J_Smooth27</td><td>$8.00</td></tr>
            <tr><td>Gooby2012</td><td>$8.00</td></tr>
            <tr><td>MegaLazuli</td><td>$8.00</td></tr>
            <tr><td>Lary_Jr</td><td>$8.00</td></tr>
            <tr><td>hugonius</td><td>$8.00</td></tr>
            <tr><td>SeaBlueApples</td><td>$8.00</td></tr>
            <tr><td>RainbowMellow</td><td>$8.00</td></tr>
            <tr><td>joehobo21</td><td>$8.00</td></tr>
            <tr><td>Pockkii</td><td>$8.00</td></tr>
            <tr><td>markosxa</td><td>$8.00</td></tr>
            <tr><td>Drew1011</td><td>$8.00</td></tr>
            <tr><td>Quizn0</td><td>$8.00</td></tr>
            <tr><td>Techdog500</td><td>$8.00</td></tr>
            <tr><td>DeeganRT</td><td>$8.00</td></tr>
            <tr><td>OnmateFTW</td><td>$8.00</td></tr>
        </table>
        <table style="display:inline-table; vertical-align:top;">
            <tr><td>ThepallexD</td><td>$7.50</td></tr>
            <tr><td>BrainlessChild</td><td>$7.50</td></tr>
            <tr><td>headfirstdiver</td><td>$7.50</td></tr>
            <tr><td>chickencrab</td><td>$7.50</td></tr>
            <tr><td>BigDaddyQuartet</td><td>$7.50</td></tr>
            <tr><td>slymaster26</td><td>$7.50</td></tr>
            <tr><td>Faddoo7</td><td>$7.50</td></tr>
            <tr><td>jordybob</td><td>$7.50</td></tr>
            <tr><td>daspan150000</td><td>$7.50</td></tr>
            <tr><td>Fixion97</td><td>$7.50</td></tr>
            <tr><td>Kasliah99</td><td>$7.50</td></tr>
            <tr><td>vacguy99</td><td>$7.50</td></tr>
            <tr><td>candyman106</td><td>$7.50</td></tr>
            <tr><td>mooncoww</td><td>$7.50</td></tr>
            <tr><td>daanspeed2</td><td>$7.50</td></tr>
            <tr><td>xXFlubbyDubbyXx</td><td>$7.50</td></tr>
            <tr><td>axlewoof5</td><td>$7.50</td></tr>
            <tr><td>Avalition</td><td>$7.50</td></tr>
            <tr><td>patric8</td><td>$7.50</td></tr>
            <tr><td>conthegamer</td><td>$7.50</td></tr>
            <tr><td>Moodicow</td><td>$7.50</td></tr>
            <tr><td>creeperdefense</td><td>$7.50</td></tr>
            <tr><td>grahamegarrison</td><td>$7.50</td></tr>
            <tr><td>lilygarrison</td><td>$7.50</td></tr>
            <tr><td>gabers628</td><td>$7.50</td></tr>
            <tr><td>KingOfD00M</td><td>$7.50</td></tr>
            <tr><td>leleroy22</td><td>$7.50</td></tr>
            <tr><td>miner_guy667</td><td>$7.50</td></tr>
            <tr><td>MiiniMan123</td><td>$7.50</td></tr>
            <tr><td>flybye3</td><td>$7.50</td></tr>
            <tr><td>pookyboo34</td><td>$7.50</td></tr>
            <tr><td>Luke0328</td><td>$7.50</td></tr>
            <tr><td>AnimationsRS</td><td>$7.50</td></tr>
            <tr><td>Dr_PureMix</td><td>$7.50</td></tr>
            <tr><td>Rootner1007</td><td>$7.50</td></tr>
            <tr><td>Frivybela</td><td>$7.50</td></tr>
            <tr><td>waterfoxtheelf</td><td>$5.00</td></tr>
            <tr><td>PunishedAnubis</td><td>$5.00</td></tr>
        </table>
    </div>

    <h2>WorldEdit</h2>
    <p>
        This video explains almost all WorldEdit commands, the full list can be found <a href="https://worldedit.enginehub.org/en/latest/commands/">here</a>.
    </p>
    <iframe width='1000' height='538' src='//www.youtube.com/embed/JSEFUEL9nQk'></iframe>

    <h2>Warp signs</h2>
    <p>
        Just place a sign with <code>[MyWarp]</code> on the second line and the name of your warp on the line below it.
        Example:
    </p>
    <img src="img/warpsignexample.png" alt="Warp sign example" />
    <p>
        Right-clicking above sign has the same effect as using <code>/warp TestWarpName</code>.
    </p>
{% endblock %}
