{% extends 'layout.html.twig' %}

{% set title = 'Home' %}

{% block content %}
    <p>
        Welcome to Villermen, a creative/survival Minecraft server.
        This site contains some info to get yourself started on the server.
        If you haven't joined in game yet there won't be much to do here.
        Connect to the server by just typing <code>viller.men</code> in the server address bar, plain and simple =)
    </p>
    <p>
        By default you won't be able to build, to obtain build rights please ask to be promoted on <a href="{{ path('/contact') }}">the Discord server</a>.
        This is a measure to help protect everyone from griefing.
    </p>
{% endblock %}
