{% extends 'layout.html.twig' %}

{% set title = 'Rules' %}

{% block content %}
    <h1>Rules</h1>
    <p>The following rules apply on this server:</p>
    <ul>
        <li>Use your common sense.</li>
        <li>Naturally, griefing is not tolerated in any way. If you grief you will be banned without warning.</li>
        <li>Be polite and respect your fellow builders, try not to offend or harass them.</li>
        <li>No swearing on my christian Minecraft server. But really, try to keep swearing to a minimum.</li>
        <li>PvP is only allowed if both parties agree with it.</li>
        <li>Chat is in English. So unless everyone else currently online speaks your language, please use <code>/msg</code>.</li>
        <li>Don't ask/beg for op or admin. If we need admins and you are suitable I will know where to find you.</li>
        <li>Don't use cheat mods in vanilla. This includes xray, flymod, force-field etc. to not give you an unfair advantage over others. Cheating in creative is fine by me.</li>
        <li>If you find an exploit of any kind. Please contact me about it without abusing it.</li>
        <li>Use your common sense.</li>
    </ul>
    <p>
        In most cases you will be warned if you break the rules.
        If you do not change your behavior you will eventually be kicked or even banned.
    </p>
{% endblock %}
