{% extends 'layout.html.twig' %}

{% set title = 'Developed for real browsers' %}

{% block content %}
    <h1>Developed for real browsers</h1>
    <div class="center">
        This website was developed for real browsers like Chrome and Firefox.
        If you use a browser that doesn't work, like Internet Explorer, some parts of the site might not work too well.
        If you think it's time for a real browser, try <a href="https://www.google.com/chrome/">Chrome</a> or <a href="https://www.mozilla.org/">Firefox</a>.
        I will not fix anything that doesn't work only in other browsers because I am both lazy and idealistic.
    </div>
{% endblock %}
