{% extends 'layout.html.twig' %}

{% set title = 'Page not found' %}

{% block content %}
    <h1>Page not found</h1>
    <div style="text-align: center;">
        The requested page could not be found.<br />
        Please make sure the url is typed correctly.<br />
        If another page on this site led you here, please inform me about it.
    </div>
{% endblock %}
